* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./img/imagem\ de\ fundo.jpg");
    
}


.menu { 
    display: flaxbox;
    background-color: black;
    height: 50px;
    text-align: center;
    
}

a {
    color:aliceblue;
    text-decoration: none;
    margin-left: 8%;
    margin-bottom: px;
}

.grafico1 {
    border-radius: 20px;
    height: 400px;
    width: 600px;
}

.grafico2 {
    border-radius: 20px;
    height: 400px;
    width: 630px;

}
